include README.md
include requirements.txt
recursive-include qoeval_pkg *.conf
recursive-include qoeval_pkg/videos *.avi
recursive-include qoeval_pkg/spinner *.png
recursive-include qoeval_pkg/spinner *.md
recursive-include qoeval_pkg/gui *.png